/* set body design */

body {
              font-family: Arial;
              background-color: black; 
              color: white;
              }
              /* set heading  design */
        h1   {color: grey;
                font-family: Verdana;
        }
        /* set design for whole prtion */
       .myDiv
       {
           background-color: white;
           color: black;
           width: 300px;
           padding: 20px;
           border-radius: 25px;
           margin: 0 auto;
           
           
       } 


